@font-face {
  font-family: 'pixel';
  src: local('pixel'), url('./fonts/Uni0553.svg#Uni0553') format('svg'),
       local('pixel'), url('./fonts/Uni0553.ttf') format('truetype'),
       local('pixel'), url('./fonts/Uni0553.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pixel';
  src: local('pixel'), url('./fonts/uni0553-webfont.eot');
  src: local('pixel'), url('./fonts/uni0553-webfont.eot?#iefix') format('embedded-opentype'),
       local('pixel'), url('./fonts/uni0553-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'pixel';
}

.game {
  font-family: 'hydrophiliaiced';
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lum_5{
  opacity: 1;
}

#lum_4{
  opacity: 0.9;
}

#lum_3{
  opacity: 0.8;
}

#lum_2{
  opacity: 0.7;
}

#lum_1{
  opacity: 0.6;
}

#lum_0{
  opacity: 0.5;
}